.popup__close {
  all: unset;

  background-image: url('../../../images/popup-closeIcon.svg');
  background-repeat: no-repeat;
  background-position: center;

  width: 20px;
  height: 20px;

  position: absolute;
  top: -41px;
  right: 0;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}
